<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddit.proj.mapper.SubjectMapper">

	<select id="listSubj" resultType="SubjectVO">
		select * from subject
	</select>
	
	<select id="getSub" parameterType="String" resultType="SubjectVO">
		select * from
		subject where SUB_CODE=#{subCode}
	</select>

</mapper>